@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: #dc6563;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  font-family: "Poppins" !important;
}
.w-35 {
  width: 14rem;
}
.w-30 {
  width: 4rem;
}
.text-red {
  color: red;
}
body {
  font-family: "Poppins" !important;
  overflow-x: hidden !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
.VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
.body {
  top: 0px !important;
}
body {
  font-family: poppins !important;
  top: 0px !important;
}
.font-normal {
  font-weight: 400;
  font-family: poppins !important;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-family: "Poppins";
}
ol,
ul,
menu {
  font-family: "Poppins" !important;
}
.font-sans {
  font-family: "Poppins" !important;
}
.font-\[georgia\] {
  font-family: "Poppins" !important;
}

.font-\[roboto\] {
  font-family: "Poppins" !important;
}

.goog-te-gadget .goog-te-combo {
  margin: 0px 0 !important;
  font-family: "Poppins";
  font-size: 17px;
  color: #515151;
}
.goog-te-gadget {
  font-family: arial;
  font-size: 0px !important;
  color: #666;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .lg\:max-w-7xl {
    max-width: 1140px !important;
  }
  .astroslidefreeservice {
    margin-top: -12%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 11%;
  }
  .astroslideliveastrologer {
    margin-top: -12%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 11%;
  }

  .astroslideourastrologer {
    margin-top: -11%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 11%;
  }
  .astroslidenews {
    margin-top: -11%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 11%;
  }
  .astroslideblog {
    margin-top: -17%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 17%;
  }
  .astroslideblo {
    margin-top: -10%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 10%;
  }
  .astroslidecelbrity {
    margin-top: -11%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 11%;
  }
  .astroslideshop {
    margin-top: -14%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 14%;
  }
  .astroslidepanchang {
    margin-top: -15%;
    margin-left: -3%;
    margin-right: -3%;
    padding-bottom: 15%;
  }
}

@media (min-width: 992px) {
  .lg\:max-w-7xl {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .lg\:max-w-7xl {
    max-width: 720px;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  .lg\:max-w-7xl {
    max-width: 540px;
  }
  .blog2 {
    overflow: hidden;
    height: auto !important;
  }
  .astroslidefreeservice {
    margin-top: -50%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 50%;
    z-index: 1;
  }

  .astroslidefreeservice {
    margin-top: -50%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 50%;
    z-index: 1;
  }
  .astroslideliveastrologer {
    margin-top: -66%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 66%;
    z-index: 1;
  }

  .astroslideourastrologer {
    margin-top: -36%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 36%;
    z-index: 1;
  }
  .astroslidenews {
    margin-top: -45%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 45%;
    z-index: 1;
  }
  .astroslideblog {
    margin-top: -50%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 50%;
    z-index: 1;
  }
  .astroslideblo {
    margin-top: -35%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 30%;
    z-index: 1;
  }
  .astroslidecelbrity {
    margin-top: -46%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 46%;
    z-index: 1;
  }
  .astroslideshop {
    margin-top: -55%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 55%;
    z-index: 1;
  }
  .astroslidepanchang {
    margin-top: -65%;
    margin-left: -7%;
    margin-right: -7%;
    padding-bottom: 65%;
    z-index: 1;
  }
  .swiper-backface-hidden .swiper-slide {
    margin: 0px 0px !important;
  }
  .wid {
    width: 100% !important;
  }
  .fontsmall {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 0px;
  }
  .px44e div {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
  .fontsmalls {
    font-size: 20px;
  }
  .imgt {
    width: 193px !important;
  }
  .fontsmallbu {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 6px 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lg\:max-w-7xl {
    max-width: 960px !important;
  }
  .astroslidefreeservice {
    margin-top: -12%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 11%;
    z-index: 1;
  }
  .astroslideliveastrologer {
    margin-top: -12%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 11%;
    z-index: 1;
  }

  .astroslideourastrologer {
    margin-top: -11%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 11%;
    z-index: 1;
  }
  .astroslidenews {
    margin-top: -11%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 11%;
    z-index: 1;
  }
  .astroslideblog {
    margin-top: -17%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 17%;
    z-index: 1;
  }
  .astroslideblo {
    margin-top: -14%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 10%;
    z-index: 1;
  }
  .astroslidecelbrity {
    margin-top: -11%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 11%;
    z-index: 1;
  }
  .astroslideshop {
    margin-top: -14%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 14%;
    z-index: 1;
  }
  .astroslidepanchang {
    margin-top: -15%;
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 15%;
    z-index: 1;
  }
  .text-\[17px\] {
    font-size: 14px;
  }
  .goog-te-gadget .goog-te-combo {
    margin: 0px 0 !important;
    font-family: "Poppins";
    font-size: 14px;
    color: #515151;
  }
  .swiper {
    padding: 0px 40px !important;
  }
  .fontsmall {
    font-size: 27px;
  }
  .blog2 {
    overflow: hidden;
    height: 49px;
  }
}
.blog2 {
  overflow: hidden;
  height: 49px;
}

/* ----------------------my css----------- */
.myBox {
  border: none;

  width: 310px;
  height: 225px;
  overflow: y;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background: #dc6563;
}

::-webkit-scrollbar-thumb:hover {
  background: DC6563;
}

/* Default styles for all views */

/* Scrollbar styles */

/* Media query for tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .myBox {
    width: 310px; /* Adjust the width as per your design */
    height: 225px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .myBox {
    width: 190px; /* Adjust the width as per your design */
    height: 225px;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .myBox {
    width: 330px;
    height: 225px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .test {
    width: 53px; /* Adjust the width as per your design */
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .blogsidebar {
    padding-left: 50px; /* Adjust the width as per your design */
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .eye {
    position: absolute;
    left: 100px; /* Adjust the width as per your design */
  }
}
/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .blogsidebar {
    padding-left: 30px;
  }
}

.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.trending {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bookpooja {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* styles/globals.css */

/* styles/globals.css */

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* space for the checkbox icon */
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0; /* hide the actual checkbox */
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%; /* circular checkbox */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; /* smooth transition */
}

.checkmark:after {
  content: "";
  font-size: 12px;
  color: white;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #4caf50; /* green background when checked */
  border-color:white;
}

.custom-checkbox input:checked + .checkmark:after {
  content: "";
  color: white; /* white color for check sign when checked */
}

.popup{
  position: fixed;
  top: 85%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 50;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .popup {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 50;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
}
/* Media query for mobile devices */
@media only screen and (min-width:767px ) and (max-width: 1024px) {
  .popup {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 50;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
}
@media only screen and (max-width: 767px) {
  .popup {
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 50;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
}
